header .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  header .navbar li {
    float: left;
  }
  
  header .navbar li a {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
  }
  
  
  
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  /* Grid system */
  
  .container {
    width: 100%;
  }
  .content {
    max-width: 1440px;
    margin: 0 130px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col {
    flex: 1;
    padding: 10px;
  }
  
  
  
  @media (min-width: 375px) {
    .col-sm-8 {
      flex: 0 0 66.67%;
    }
  
    .col-sm-6 {
      flex: 0 0 50%;
    }
  
    .col-sm-12 {
      flex: 0 0 100%;
    }
    .col-sm-4 {
      flex: 0 0 33.33%;
    }
  }
  
  
  @media (min-width: 834px) {
    .col-md-8 {
      flex: 0 0 66.67%;
    }
  
    .col-md-4 {
      flex: 0 0 33.33%;
    }
  
    .col-md-6 {
      flex: 0 0 50%;
    }
  
    .col-md-3 {
      flex: 0 0 25%;
    }
  
    .col-md-2 {
      flex: 0 0 16.67%;
    }
  
    .col-md-1 {
      flex: 0 0 8.33%;
    }
    .col-md-12 {
      flex: 0 0 100%;
    }
  }
  
  /* For extra-large screens (e.g., desktops) */
  @media (min-width: 1440px) {
    .col-lg-8 {
      flex: 0 0 66.67%;
    }
  
    .col-lg-4 {
      flex: 0 0 33.33%;
    }
  
    .col-lg-6 {
      flex: 0 0 50%;
    }
  
    .col-lg-3 {
      flex: 0 0 25%;
    }
  
    .col-lg-2 {
      flex: 0 0 16.67%;
    }
  
    .col-lg-1 {
      flex: 0 0 8.33%;
    }
    .col-lg-12 {
      flex: 0 0 100%;
    }
    .col-lg-none{
      display: none;
    }
  }
  
  
  
  
  
  /****************** margin && padding ******************/
  .m-0{
      margin: 0;
  }
  .p-0{
      padding: 0;
  }
  .pt-36{
      padding-top: 36px;
  }
  .pb-36{
      padding-bottom: 36px;
  }
  .pr-30{
      padding-right: 30px;
  }
  .p-30{
    padding: 30px;
  }
  .ms-16{
      margin-left: 16px;
  }
  .mt-5{
      margin-top: 5px;
  }
  .mt-20{
    margin-top: 20px;
  }
  .ptb-10{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mr-20{
    margin-right: 20px;
  }
  .mb-80{
    margin-bottom: 86px;
  }
  .mt-8{
    margin-top: 8px;
  }
  .mt-70{
    margin-top: 70px;
  }
  .me-16{
      margin-right: 16px;
  }
  .mtb-34{
    margin-top: 34px;
    margin-bottom: 34px;
  }
  .ptb-120{
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  
  /****************** END margin && padding ******************/
  
  
  
  /****************** TEXTS ******************/
  .text-header{
      color: #000;
      font-family: Kanit;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal; 
  }
  .text-content{
      color: #000;
      font-family: Kanit;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; 
      
  }
  .h1.heading{
      color: #000;
      font-family: Kanit;
      font-size: 30px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
  }
  .blog-text{
      
      margin: 18px 20px;
  }
  /****************** END TEXTS ******************/
  
  
  /****************** START FOOTER ******************/
  
  footer{
    background-color: #000;
  }
  footer .footer-text{
    color: #FFF;
    font-family: Pridi;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  footer .flex-justify-center{
    display: flex;
    justify-content: center;
    gap: 14px;
  }
  footer .align-center{
    align-self: center;
  }
  /****************** END FOOTER ******************/
  
  /* I will do gridding in Blog */
  .card-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
  }
  .card-list .card-item {
      border: 1px solid black;
      cursor: pointer;
  }
  .card-list .card-item .blog-image{
      height: 190px;
      width: 100%;
      object-fit: cover;
  }
  @media (max-width: 834px) {
      .content{
          margin: 0 5%;
      }
      .card-list {
          grid-template-columns: repeat(2, 1fr);
      }
  }
  
  
  @media (max-width: 375px) {
      .content{
          margin: 0 5%;
      }
      .card-list {
          grid-template-columns: repeat(1, 1fr);
      }
  }
  
  
  
  @media (max-width: 834px) {
    .d-none-small {
      display: none;
    }
  }
  
  
  
    /****************** START HEADER ******************/
    header .banner-area{
      background-image: url("images/cover.jpg");
      background-size: cover;
      width: 100%;
    }
    header .banner-area .left-side .left-heading{
      color: #FFF;
      font-family: Kanit;
      font-size: 50px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    header .banner-area .left-side .left-heading{
      color: #FFF;
      font-family: Kanit;
      font-size: 50px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    header .banner-area .left-side .left-content{
      color: #FFF;
      font-family: Kanit;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    header .banner-area .left-side .line{
      width: 100%;
      height: 1px; 
      background: #fff; 
    }
    .card-slider{
      background-color: #fff;
      width: 440px; 
      
    }
    .card-slider .news-heading {
      color: #000;
      font-family: Kanit;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: normal; 
    }
    .card-slider .line{
      width: 100%;
      height: 1px; 
      background: #000; 
    }
    .card-slider .blog-title{
      color: #FA793C;
      font-family: Kanit;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal; 
    }
    .card-slider .blog-content{
      color: #000;
      font-family: Kanit;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal; 
    }
  
  
    .card-slider .flex{
      align-self: stretch;
      display: flex;
      justify-content: space-between;
      gap: 19px;
    }
  
    .card-slider .flex .align-center{
      align-self: center;
    }
  
    .flex{
      display: flex;
      gap: 20px;
    }
    .justify-between{
      justify-content: space-between;
    }
  
    .line{
      width: 100%;
      height: 1px;
      background: #000;
    }
    /****************** END HEADER ******************/
  
  /* photo area  */
  .flex-column{
          display: flex;
          flex-grow: 1;
          flex-direction: column;
          gap: 20px;
        }
        .photo-area .card{
          border: 1px solid #000;
        }
        .photo-area .card img{
          height: 190px;
          width: 100%;
          object-fit: cover;
        }
        .photo-area .card .photo-text{
          padding: 20px;
        }
        .photo-area .left-content-photo{
          flex-direction: column;
          overflow: hidden;
          position: relative;
          display: flex;
          min-height: 400px;
          gap: 50px;
          width: 100%;
        }
  
        .photo-area .left-content-photo .heading{
          position: relative;
          color: #fff;
          margin-top: 195px;
          margin-left:20px;
          white-space: nowrap;
          font: 500 30px/45px Kanit, sans-serif;
        }
        .photo-area .left-content-photo .text{
          position: relative;
          color: #fff;
          margin: 20px;
  
          font: 400 16px/24px Kanit, sans-serif;
        }
        .photo-area .left-content-photo img{
          position: absolute;
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
          
        }
        .gap{
          gap: 20px;
        }
  
  
  
        /* navbar area  */
        .navbar-area{
          background-color: #FFF;
        }
        .navbar-area > div.flex.justify-between{
          max-width: 90%;
          margin: auto;
        }
        .navbar-area .logo-text{
          align-self: center;
          color: #FA793C;
          font-family: Pridi;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .navbar-menu{
          color: #000;
          font-family: ABeeZee;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-right: 10px;
          align-self: center;
        }
        .navbar-area .flex svg{
          align-self: center;
        }